@import "../Theme/themes.scss";
@import "../Utils/mixmins.scss";

//on recupere la valeurs de la variable $theme
.App {
  width: 100vw;
  height: 100vh;

}
html{
  width: 0vw;
  height: 0vh;

}

body {
  padding:0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include format__page--theme;
  
  }

  a {
    text-decoration: none;
    background-color: transparent;
  }



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

