.title__landing h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div__landingPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:0;
}
