@import "../Utils/mixmins.scss";
.title__projects h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div__projectsPage{
    @include format__page;
    @include format__page--theme;
}