<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
    <div style="
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:0;
    ">
      <img src="https://media.giphy.com/media/9SJazLPHLS8roFZMwZ/giphy.gif" alt="404"/>
      <h1 >
        Erreur 404
      </h1>
      La page que vous recherchez n'existe pas
        <a href="/">
            Retour à l'accueil
        </a>
    </div>
</body>
</html>